img {
            width: 100px;
            height: 100px;
            cursor: pointer;
            margin: 5px;
        }
        #pics, #favourites {
            min-height: 120px;
            border: 1px solid #ccc;
            padding: 5px;
            margin-bottom: 10px;}